h1 {
	text-align: center;
}

.btn {
	margin-top: 15px;
}


.card-image img {
	height: 50%;
}

a, p {
	padding: 10px;
}

.nav-wrapper {
	padding-bottom: 50px;
}

nav h1 {
	margin: 0px;
}

body {
	background-image: url("../Project-one/assets/images/background-image.jpg");
	background-attachment: fixed;
	background-size: cover;
}